h1 {
    /*text-align: center;*/
    /*display: inline-block;*/
    float: right;
    font-family: Consolas;
    text-decoration: none;
    margin: 2px 0;
    padding-right: 50%;
    /*padding: 0.5em 1em;*/
    color: #000000;
}

.Text {
    float: right;
    font-family: Consolas;
    font-size: large;
    margin: 2px 0;
    padding-right: 50%;
}

.Position {
    position: relative;
    top: -30px;
    left: 10px;
}



.BTN_big {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    /* margin: 2px 0;*/
    border: solid 1px transparent;
    /*border-radius: 4px;*/
    width: 30%;
    height: 50px;
    /*padding: 0.5em 1em;*/
    color: #000000;
}
.BTN_small {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0;
   /* border: solid 1px transparent;*/
    /*border-radius: 4px;*/
    width: 25px;
    height: 25px;
    padding: 0.5em 1em;
    color: #000000;
}
.BTN_Circle {
    display:flex;
    width:100px;
    height:100px;
    border-radius:50px;
    color:red;
}
.BTN_Aufgaben_active {
    background-color: #9a9a9a;
}
.BTN_Aufgaben_inactive {
    background-color: #ff6666;
}

.BTN_Chats_active {
    background-color: #9a9a9a;
}
.BTN_Chats_inactive {
    background-color: #ff6a00;
}

.BTN_Kalender_active {
    background-color: #9a9a9a;
}
.BTN_Kalender_inactive {
    background-color: #4800ff;
}

.BTN_Help_active {
    background-color: #9a9a9a;
}
.BTN_Help_inactive {
    background-color: #4cff00;
}

.BTN_Index_active {
    background-color: #9a9a9a;
}
.BTN_Index_inactive {
    background-color: #00ff21;
}

.BTN_Profil_active {
    background-color: #9a9a9a;
}
.BTN_Profil_inactive {
    background-color: #0094ff;
}

.BTN_Dashboard_active {
    background-color: #9a9a9a
}
.BTN_Dashboard_inactive {
    background-color: #ff49e6
}
.BTN_Rewards_active {
    background-color: #9a9a9a;
}
.BTN_Rewards_inactive {
    background-color: #b6ff00;
}
.BTN_Settings_Profile {
    background-size: cover;
}



#rectangle {
    margin: 0 auto;
    border-radius: 10px;
    width: auto;
    height: auto;
    background-color: #9b9b9b;
    padding: 10px;
    padding-bottom: 50px;
}

#Menu_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.50);
    /*padding: 4px;*/
    border: solid 1px transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Kacheln {

    /*display: flex;*/
    align-items: center;
    justify-content: center;
    
}
#Inputdate {
    padding: 7px;
    height: 40px;
}
#Inputdisc {
    padding: 7px;
    height: 40px;
}
#Input_BTN {

}
#Output_Aufgaben {
    font-family: Calibri;
    font-size:larger;
}
#Output_Aktuell {
    font-family: Calibri;
    font-size: larger;
}

#Chat_Bubble {
    position: fixed;
    width: 80px;
    bottom: 50px;
    right: 40px;
}

#Profile_Picture_circle {
    position: relative;
    top: auto;
    left: calc(75% - 50px);
    width: 100px;
    height: 100px;
    border-radius:50px;
    background-color:black;
    
}

#profile_pic {
    width: 50px;
}

#fieldset {
    border: solid 2px #2a2a2a;
    margin: 2px;
    border-radius: 8px;
    background-color: #cfcfcf;
}